<h1>Todos</h1>
<%= link_to "Add a New Todo", new_todo_path %>
<ul class="todos">
  <% @todos.each do |todo| %>
  <li class = "<%= "completed" if todo.completed? %>">
    <%= todo.title %>
    <% if todo.completed? %>
    <%= button_to 'Mark as incompleted', todo_completion_path(todo), method: :delete %>
    <% else %>
    <%= button_to 'Mark as completed', todo_completion_path(todo)  %>
    <% end %>

  </li>
  <% end %>
</ul>


